.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem 4rem;
}

@media (max-width: 768px) {
  .app-main {
    padding: 0 1rem 3rem;
  }
}
